body{
    background-color: #BDB76B;
}
legend{
    color: darkgreen;
}
fieldset{
    width: 60%;
    border: 2px darkgreen solid;
    border-radius: 10px;
}
#tdtop{
    vertical-align: top;
}
label{
    display: inline-block;
}
label{
    width: 30%;
}